.outlined {
  -webkit-box-shadow:inset 0px 0px 0px 1px white !important;
    -moz-box-shadow:inset 0px 0px 0px 1px white !important;
    box-shadow:inset 0px 0px 0px 1px white !important;
}
.focused {
  transform: scale(1.2) translateZ(0);
  transition: transform .125s ease-in,-webkit-transform .125s ease-in;
  will-change: transform;
}
.unfocused {
  transform: scale(1) translateZ(0);
  transition: transform .125s ease-out,-webkit-transform .125s ease-out;
  will-change: transform;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  will-change: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .15s linear;
  transition: transform .15s linear;
  transition: transform .15s linear,-webkit-transform .15s linear;
}

.section-container {
  overflow-x: hidden;
  padding: 16px;
}

.section-title {
  padding-left: 88px;
}

.section-item {
  margin: 5px;
}